

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn-primary {
  background-color: #004080;
  border-color: #003366;
}

.weather-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
